@page
@model IndexModel
@{
    ViewData["Title"] = "Login page";
}

<div class="text-center">
    <br>
    <h2>Login</h2>
    <form name="login" action="index_submit" method="get">  
        <p>Email <input type="email" name="email" placeholder="name@email.com" required></p>
        <p>Password </label><input type="password" name="password" placeholder="password" required></p> 
        <input type="submit" value="Login">
    </form>  
    <div class="create-account">
        <a href="">Create account</a>
    </div>
</div>
 